@import "../../../themes/variables.scss";

:host {
  display: block;
  margin: 60px 0px 30px 0px;

  .card {
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid $card-border-color;
    border-radius: 0.25rem;
    text-align: center;

    figure {
      margin: 0px;
      background-color: $card-background-color;
      min-height: 300px;

      img {
        min-height: 500px;
        max-width: 100%;
        height: auto;
      }

      figcaption {
        background-color: #fff;
        padding: 0px 10px 0px 10px;
        color: $primary-color;
        font: DemiBold 26px/31px TT Supermolot Neue;
      }
    }
  }

  h5 {
    margin-top: 0.5rem;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

    &.d-inline-block {
      li {
        display: inline-block;
      }
    }

    li {
      padding-right: 20px;
    }
  }

  .links {
    text-align: center;

    &.top {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid rgba(0, 0, 0, 0.125);
    }

    &.bottom {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    a {
      color: $primary-color;

      &::before {
        content: "<< ";
      }

      &::after {
        content: " >>";
      }
    }
  }
}
