$font-color: #363636;
$font-size: 16px/27px;
$letter-spacing: 0px;
$header-background-color: #f8f8f8;
$footer-background-color: $header-background-color;
$card-background-color: $header-background-color;
$card-border-color: #707070;
$input-border-color: $card-border-color;
$input-shadow-color: #00000029;
$primary-color: #0044a6;
$loader-color: $primary-color;
$loader--background-color: $header-background-color;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$primary-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
